* {
  box-sizing: border-box;
}
*:last-child {
  margin-bottom: 0;
}
html {
  font-family: Georgia;
  line-height: 1.5;
  background-color: white;
  color: black;
}

body {
  margin: 0;
}

.container {
  max-width: 1175px;
  padding: 0 16px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}
.logo > img {
  width: 90px;
  height: 30px;
}

.social {
  vertical-align: middle;
}

.social > img {
  width: 200px;
  padding-top: 30px;
}

.header {
  padding: 32px 0;
  background-color: white;
}
.footer {
  margin-top: 50px;
  background-size: cover;
  padding: 50px 0;
  background-color: #151c22;

  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.footer-content {
  max-width: 750px;
  color: white;
}

.inverted {
  filter: invert(100%);
}

a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: green;
  text-decoration: underline;
}

figure {
  margin: 0;
}

p,
ul,
ol {
  margin: 0 0 16px 0;
}

* + p,
* + ul,
* + ol {
  margin-top: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.67em 0;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 0.67em;
}

h5 {
  padding-bottom: 30px;
}

a.button {
  text-transform: uppercase;
  font-weight: 250;
  color: white;
  text-decoration: none;
  padding: 20px 45px;
  background-color: #151c22;
  font-size: 10px;
  font-weight: bold;
}
a.button:hover {
  background: red;
}
