.row {
  font-size: 0;
  margin: -10px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.row > .column {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  padding: 10px;
}

.row-large {
  margin: -40px;
}
.row-large > .column {
  padding: 40px;
}
